/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}




/* ----------------------------------------------------------------------------------- */

body {
  font-family: 'Oswald', sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(34, 116, 195, 1) 100%);
  color: white;
  height: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  padding-bottom: 50px;
  height: 100%;
}

.display_none {
  display: none;
}

.choose_city {
  text-align: right;
  padding-top: 70px;
  height: 150px;
}

.select_city {
  margin: 10px;
  cursor: pointer;
}

.cancel_select {
  margin-top: 10px;
  cursor: pointer;
}

.details {
  margin: 5px;
  cursor: pointer;
}

.details a {
  font-family: 'Oswald', sans-serif;
  color: white;

}

.hide_a {
  padding-left: 50px;
}

.cities {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
}


.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.city {
  font-size: 85px;
  display: inline-block;
}

.weather {
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}

.temperature {
  font-size: 70px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}


.t_celsius::after {
  font-family: 'icomoon' !important;
  content: "\e905";
  font-weight: 400;
}

.t_fahrenheit::after {
  font-family: 'icomoon' !important;
  content: "\e900";
  font-weight: 400;
}

.wearher_discription {
  font-size: 35px;
  font-weight: 400;
}

.details-nav {
  text-align: center;
  margin-bottom: 10px; 
}

.details-nav-item {
  margin: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: 1px solid white;

}

.details-nav-item-active {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(34, 116, 195, 1) 100%);
  color: #313133;
}

.details_items {
  width: 1210px;
  margin: 70px auto 0 auto;
}

.details_items h2 {
  text-align: center;
  font-size: 45px;
}

.details_item {
  font-size: 35px;
}

.details-item {
  height: 800px;
  overflow: hidden;
  margin-top: 50px;
}

.details-item-table {
  overflow: auto;
}

span {
  color: #313133;
}

.modal_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;

}

.modal_window-item{
  width: 300px;
  height: 150px;
  padding-top: 25px;
  background: white;
  color: rgb(34, 193, 195);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.city_list {
  background: white;
  color: rgb(34, 193, 195);
  text-align: center;
  position: fixed;
  transition-property: height;
  transition-duration: 0.5s;
  z-index: 20;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transform: translate(-50%);
  opacity: 0;
  padding-top: 100px;
}

.city_list h1 {
  padding-top: 15px;
  padding-bottom: 30px; 
}

#canvas {
  text-align: center;
  margin-top: 50px; 
  border: 1px solid black;
  background: white;
  margin: 0 auto;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}



@media (max-width: 800px) {
  .container {
    width: 100%;
    padding-top: 50px;
  }

  .city {
    font-size: 30px;
  }

}

@media (max-width: 576px) {
  .choose_city {
    text-align: center;
    padding-top: 30px;
    margin: 0;
  }

  .container {
    padding-top: 0;
  }

  #cities {
    width: 80%;
  }

  .hide_a {
    padding-left: 0;
  }

  .details_city {
    line-height: 50px;
    padding-bottom: 10px;
  }
}
